<div fxLayout="row" fxLayoutAlign="space-around">
  <div id='pending' fxLayout="column" fxLayoutAlign="center center">
    <h1>
      {{pendingJobs.length}}
    </h1>
    <h3>
      Pending Jobs
    </h3>
    <button mat-raised-button mat-raised-button color="accent" (click)="openPending('pending')">See all</button>
  </div>
  <div id='running' fxLayout="column" fxLayoutAlign="center center">
    <h1>
      {{runningJobs.length}}
    </h1>
    <h3>
      Running Jobs
    </h3>
    <button mat-raised-button mat-raised-button color="accent" (click)="openPending('running')">See all</button>
  </div>
  <div id='finished' fxLayout="column" fxLayoutAlign="center center">
    <h1>
      {{finishedJobs.length}}
    </h1>
    <h3>
      Finished Jobs
    </h3>
    <button mat-raised-button color="accent" (click)="openPending('finished')">See all</button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center" id='form' *ngIf="!running">
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="threads" placeholder="Select the number of threads" type="number">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="jobs" placeholder="Select the number of jobs" type="number">
  </mat-form-field>
  <button mat-raised-button color="warn" (click)="startThreads()">
    START
  </button>
</div>
<div fxLayout="row" fxLayoutAlign="center" id='form' *ngIf="running">
  <button mat-raised-button color="warn" (click)="restart()">
    RESTART
  </button>
</div>
